[Авторизация]
токен = ""  # Введите тут свой токен от группы


[Бот]
сообщения = False  # Нужно ли логгировать сообщения? True/False
команды = True  # Нужно ли логгировать команды? True/False
ошибки = True  # Нужно ли сообщать пользователям, когда в плагине произошла ошибка?

